<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Assign TA for course</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>
<div>
    <a th:href="@{/course/{course_code}(course_code=${course_code})}">Go to Course</a>
    <form method="POST" th:action="@{/assign_ta/{course_code}(course_code=${course_code})}">
        <table>
            <tr>
                <td>Select User:</td>
                <td>
                    <select name="user_email">
                        <option th:each="i : ${users}" th:value="${i.email}"
                                th:text="${i.firstName}+' '+${i.lastName}">
                        </option>
                    </select></td>
                <td><input type="submit" value="Upload"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>