<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Assign TA for course</title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<div class="message" th:if="${message}">
  <h2 th:text="${message}"/>
</div>
<div>
  <h3 th:align="right" th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h3>
  <div th:align="right">
    <a href="#" th:align="right" th:href="@{/logout}">Log out</a>
  </div>
</div>
<div>
  <a th:href="@{/instructor_dashboard}"> Go Back </a>
  <!--    <form method="POST" th:action="@{/assign_ta/{course_code}(course_code=${course_code})}">-->

  <table>
    <tr>
      <td>Select User:</td>
      <td>
        <form action="" onsubmit="return ">
          <input hidden name="userId" th:value="${userId}">
          <input hidden name="courseCode" th:value="${courseCode}">
          <select name="user_email">
            <option th:each="i : ${users}" th:text="${i.firstName}+' '+${i.lastName}"
                    th:value="${i.email}">
            </option>
          </select>
        </form>
      </td>
      <td>
        <button onclick="submitAssignTA()">Assign</button>
      </td>
    </tr>
  </table>

</div>
<script>
  function submitAssignTA() {
    const courseCode = document.querySelector('input[name="courseCode"]').value;
    const currentUserId = document.querySelector('input[name="userId"]').value;
    const userEmail = document.querySelector('select[name="user_email"]').value;
    if (courseCode == null || currentUserId == null || userEmail == null) {
      alert("Could not get Course or User Details");
      return;
    }
    let formData = new FormData();
    formData.append("courseCode", courseCode);
    formData.append("currentUserId", currentUserId);
    formData.append("userEmail", userEmail);
    fetch("/assign_ta/" + courseCode,
        {
          method: "POST",
          body: formData
        }
    ).then(r => r.json())
    .then(json => {
      console.log(typeof json['success']);
      // console.log(json);
      if (json['success']) {
        alert("TA Assigned Successfully");
        location.reload();
      } else {
        alert("Error assigning TA");
      }
    });
  }
</script>
</body>
</html>