<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/app.css">
    <title>Course Admin Page</title>
</head>
<body>
<h1>Course Admin Page</h1>
<div>
    <button>Add Course</button>
<br><br>
<table>
    <tr>
        <th>Course ID</th>
        <th>Course Name</th>
        <th>Instructor</th>
        <th>Edit Detail(Edit or remove)</th>
    </tr>
</table>
</div>
</body>
</html>