<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Upload CSV File</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>
<div>
    <a th:href="@{/course/{course_code}(course_code=${course_code})}">Go to Course</a>
    <form method="POST" enctype="multipart/form-data"
          th:action="@{/csvupload/{course_code}(course_code=${course_code})}">
        <table>
            <tr>
                <td>File to upload:</td>
                <td><input type="file" name="file"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Upload"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>