<!doctype html>
<html lang="en" layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>AssessME password reset</title>

</head>
<body>

<h1>AssessMe password recovery </h1>


<form method="POST" th:action="@{/forget_password}" th:object="${user}">

  <div>
    <label>Email</label>
    <div>
      <input id="email" name="email" th:field="*{email}" type="text">
    </div>

  </div>

  <div>
    <input type="submit" value="Reset Password"/>
  </div>

  <div>
    <input type="reset" value="Clear"/>
  </div>


</form>

<a th:href="@{/login}">login</a>

</body>

</html>