<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>AssessME password reset</title>

</head>
<body>

<h1>AssessMe password recovery </h1>


<form th:action="@{/forget_password}" th:object="${user}" method="POST">

    <div>
        <label>Email</label>
        <div>
            <input type="text" id="email" name="email" th:field="*{email}">
        </div>

    </div>

    <div>
        <input type="submit" value="Reset Password"/>
    </div>

    <div>
        <input type="reset" value="Clear"/>
    </div>


</form>

<a th:href="@{/login}">login</a>

</body>

</html>