<!doctype html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>AssessMe Homepage</title>

</head>
<body>
<div class="message" th:if="${message}">
  <h2 th:text="${message}"/>
</div>
<div>
  <h3 th:align="right" th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h3>
  <div th:align="right">
    <a href="#" th:align="right" th:href="@{/logout}">Log out</a>
  </div>
  <div sec:authorize="hasRole('INSTRUCTOR') or hasRole('TA')">
    <a href="/instructor_dashboard">Go to Course Management</a>
  </div>

</div>

<p>Welcome to home page</p>

</body>
</html>