<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>AssessME password reset</title>

</head>
<body>

<h1 th:text="${#messages}">reset</h1>
<form th:action="@{/new_password}" th:object="${user}" method="POST">

    <div>
        <label>Email</label>
        <div>
            <input type="text" id="email" name="email" th:field="*{email}">
        </div>

    </div>

    <div>
        <label>Password</label>
        <div>
            <input type="password" id="password" name="password" th:field="*{password}">
        </div>

    </div>
    <div>
        <label>Confirm password</label>
        <div>
            <input type="password" id="confirmPassword" name="confirmPassword">
        </div>
    </div>

    <div>
        <input type="submit" value="Change Password"/>
    </div>

    <div>
        <input type="reset" value="Clear"/>
    </div>

</form>

<a th:href="@{/login}">login</a>

</body>

</html>