<!doctype html>
<html lang="en" layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>AssessME password reset</title>

</head>
<body>

<h1 th:text="${#messages}">reset</h1>
<form method="POST" th:action="@{/new_password}" th:object="${user}">

  <div>
    <label>Email</label>
    <div>
      <input id="email" name="email" th:field="*{email}" type="text">
    </div>

  </div>

  <div>
    <label>Password</label>
    <div>
      <input id="password" name="password" th:field="*{password}" type="password">
    </div>

  </div>
  <div>
    <label>Confirm password</label>
    <div>
      <input id="confirmPassword" name="confirmPassword" type="password">
    </div>
  </div>

  <div>
    <input type="submit" value="Change Password"/>
  </div>

  <div>
    <input type="reset" value="Clear"/>
  </div>

</form>

<a th:href="@{/login}">login</a>

</body>

</html>