<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/app.css">
    <title>Course Admin Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<h1 align="center">Survey List</h1>
<div>
    <h3 th:align="right" th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h3>
    <div th:align="right">
        <a th:align="right" href="#" th:href="@{/logout}">Log out</a>
    </div>
</div>
    <div id = "noSurvey"></div>
    <table id = "survey_table" border="1" align="centre" width=100%>
        <tr>
            <th width=10%>Survey ID</th>
            <th width=15%>Survey Name</th>
            <th width=40%>Description</th>
            <th width=5%>State</th>
            <th width=10%>Created At</th>
            <th width=10%>Action</th>
        </tr>
        <tr  th:each="i : ${surveyList}">
            <div th:if="${i.status}==published">
                <td th:text="${i.surveyId}"></td>
                <td th:text="${i.surveyName}"></td>
                <td th:text="${i.description}"></td>
                <td th:text="${i.status}"></td>
                <td th:text="${i.createdAt}"></td>
                <td><a th:href="@{/survey_questions/get_questions_details(surveyId=${i.surveyId})}">Fill Survey</a></td>
            </div>
            <div th:unless="${i.status}==published">
                <td colspan="6" align="center">No Surveys published</td>
            </div>
        </tr>
    </table>
    </div>
</body>
</html>