<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/app.css">
  <title>Question Manager</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js">
  </script>
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.widgets.min.js">
  </script>
  <script>
</script>
</head>
<body>
<div align="center">
  <h1 align="center">Survey</h1>
</div>

<div align="center">
  <table id="questionListTable" border="1">
    <tbody>
    <tr th:each="i : ${questions}">
      <td th:text="${i.questionTitle}"></td>
      <td th:text="${i.questionText}"></td>
      <td th:text="${i.questionDate}"></td>
    </tbody>
  </table>
  <br></br>
  <button onclick="location.href='instructor_dashboard';">Return to Course Home</button>
  <a href="/question_editor">Create Question</a>
</div>
</body>
</html>