<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>SURVEY QUESTIONS</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<h1>WELCOME TO SURVEY QUESTIONS PAGE</h1>
<div>
  <h3 th:align="right" th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h3>
  <div th:align="right">
    <a href="#" th:align="right" th:href="@{/logout}">Log out</a>
  </div>
</div>
<div>
  <a id="addLink" th:href="@{/survey/user_questions(surveyId=${survey_id})}">Add Questions</a>
  <!--    <a th:method="put" th:href="@{/survey/change_status(surveyId=${survey_id})}">Publish Survey</a>-->
  <button id="pubBtn" onclick="function publish_survey() {
        var urlParams = new URLSearchParams(window.location.search);
        console.log('surveyId urlparams', urlParams.get('surveyId'));
        var survey_id = urlParams.get('surveyId');
        console.log('publish clicked');
        $.ajax({
            type: 'PUT',
            url: '/survey/change_status',
            data: {
            'surveyId': survey_id,
            'status': 'published'
            },
            success: function() {
            alert('SURVEY PUBLISHED');
            $('#pubBtn').hide();
            $('#addLink').hide();
            }
            });
    }
    return publish_survey()" text="Publish Survey">Publish Survey
  </button>

</div>

<div id = "noSurvey"></div>
<table id = "survey_table" border="1" align="centre" width=100%>
    <tr>
        <th width=5%>Question ID</th>
        <th width=30%>Question Text</th>
        <th width=10%>Question Type</th>
        <th width=30%>Options</th>
    </tr>
    <tr th:each="i : ${surveyQuestions}">
        <td th:text="${i.questionId}"></td>
        <td th:text="${i.questionText}"></td>
        <td th:text="${i.questionTypeText}"></td>
        <td th:text="${i.optionText}"></td>
    </tr>
</table>
<script>
$(document).ready(function () {
console.log("onload called");
$.getJSON("/survey_questions/api/get_questions_details?surveyId=39", function (response) {
console.log("response", response)
});
});
</script>
</body>
</html>