<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head>
    <title>Survey Groups</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>Groups for Survey:
<p th:text="${surveyId}"/>
</p>
<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>
<br/>
<ul th:each="entry: ${groupMap}">
    <span th:text="'Group: ' + ${entry.key}"></span>
    <br/>
    <li th:each="user : ${entry.value}" th:text="${user.firstName}+' | '+${user.bannerId}"></li>
</ul>
</body>
</html>